body {
	background-image: url(../img/sdm1.png);
	background-position: top right;
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 55vmax;
}

.countainer {
	width: 900px;
	height: 600px;
	background-color: gray;
	margin: 30px auto;
	padding: 50px;
	box-sizing: border-box;
}
