body {
	min-height: ;
	background-image: ;
}
.jumbotron {
	padding-top: 2rem;
	background-color: #000000;
	color: white;
}
#profil {
	background-color: #e1aa10;
}

#join {
	background-color: #000000;
	color: #ffffff;
}

#kaki {
	background-color: #000000;
}
